<!DOCTYPE html>
<html> 
    
<head> 
    <title> Home </title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
</head>

<body>
    <center>
    <div class="logo"> 
        <a href="/">
        <img src="https://img.freepik.com/premium-vector/italian-pizza-restaurant-vintage-style-design-logo-symbols-food-drink-restaurants_605910-647.jpg?w=996">
     </a>
   </div>
</center>

    <header>
        <div class="navbar"> 
            
         <div class="left-links">   
                <a  href = "/" > Home </a> 
                <a  href = "menu" > Menu </a> 
            </div> 

        </div>
    </header>

    <center>

    <div class="welcome">
        <div class="welcome1">
            <h1> <b> <i> Welcome to </i> </b>
        </div> 
        <div class="welcome2">
            <h1> MARIO & LUIGI'S </h1>
            <h2> <b> <i>Authentic Italian <br> Pizza </i> </b> </h2>
        </div>
    </div>
    </center>
 <br>

   <center>
 <div class="content">
     <fieldset>
          <a href = "login" > ORDER FOR DELIVERY </a> <br>
        </fieldset>
        <br>
        <fieldset>
             BOOK A TABLE +39 94 363 666
        </fieldset> 
      </div>

 </center>
 
    <footer>
        <div class="content-footer">
         <a <b> &copy; M&L 2023 </b> </a>   
           </div>
    </footer>

</body>
</html>