<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link href="static/css/login.css" type="text/css" rel="stylesheet">
</head>

<body>
    <center>
        <div class="logo"> 
            <a href="/">
            <img src="https://img.freepik.com/premium-vector/italian-pizza-restaurant-vintage-style-design-logo-symbols-food-drink-restaurants_605910-647.jpg?w=996">
         </a>
       </div>
    </center>
    

    <!-- <header>
        <div class="navbar"> 
         <div class="left-links">
                <a style="text-decoration:none" href = "/" > Home </a> 

            </div> 

        </div>
    </header> -->

    <div class="login-container">
        <h2>Login/Sign up</h2>
        <form action="menu" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login/Sign up</button>
        </form>
    </div>

    <footer>
        <div class="footer">
         <a <b> &copy; 2023 </b> </a>   
           </div>
    </footer>
</body>
</html>