<!DOCTYPE html>
<html>
<head>
    <title>Order Complete</title>
    <link rel="stylesheet" type="text/css" href="static/css/orderdone.css">
</head>
<body>
    <header> 
        <center>
            <div class="logo"> 
                <a href="/">
                <img src="https://img.freepik.com/premium-vector/italian-pizza-restaurant-vintage-style-design-logo-symbols-food-drink-restaurants_605910-647.jpg?w=996">
             </a>
           </div>
        </center>
        

    </header>
    <div class="container">
        <center> 
         <h1>Your Order Is Complete</h1>
         <p> <h2> <u> <b>Thank you for your order! Your order has been successfully placed. </b> </u> </h2> </p>
         <a class="back-button" href="/">Back to Home</a>
      </center>
    </div>
</body>
</html>
